<div class="container p-0">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h4 class="m-0">Home</h4>
    </div>
    <div class="flex-grow-1 text-end">
      <button type="button" class="btn btn-secondary btn-sm" onclick="exportCharts()">
        Esporta
      </button>
    </div>
  </div>

  <form class="d-flex mt-3 mb-5 gap-2 gap-lg-4 flex-column flex-lg-row">
    <div class="d-flex flex-grow-1 align-items-center gap-3 form-floating">
      <input 
          type="datetime-local" 
          class="form-control flex-grow-1" 
          id="datetimeFrom"
          min="2025-10-15T14:00" 
          max="2025-11-09T17:40"
          value="2025-10-15T14:00">
      <label for="datetimeFrom" class="form-label mb-0">Dal</label>
    </div>
    <div class="d-flex flex-grow-1 align-items-center gap-3 form-floating">
      <input 
          type="datetime-local" 
          class="form-control flex-grow-1" 
          id="datetimeTo"
          min="2025-10-15T14:00" 
          max="2025-11-09T17:40"
          value="2025-10-16T14:00">
      <label for="datetimeTo" class="form-label mb-0">Al</label>
    </div>
    <div class="d-flex flex-grow-1 align-items-center gap-3 form-floating">
      <select class="form-select" id="eventType" aria-label="Default select example">
        <option value="Tutti">Tutti</option>
        <option value="Sereno">Sereno</option>
        <option value="Nuvoloso">Nuvoloso</option>
        <option value="Pioggia">Pioggia</option>
        <option value="Temporale">Temporale</option>
        <option value="Nebbia">Nebbia</option>
        <option value="Neve">Neve</option>
      </select>
      <label for="eventType">Eventi</label>
    </div>
    <div class="d-flex flex-grow-1 align-items-center gap-3 form-floating">
      <a href="javascript:clearFilters()" class="text-decoration-none">Cancella</a>
    </div>
  </form>

  <div class="d-flex flex-grow-1 flex-shrink-1 mt-3 slides gap-3" style="flex-wrap: wrap;"></div>
</div><!-- end container -->

<script type="text/javascript">
  var chartInstances = [];
  var eventsPointColor = 'gray';

  function clearFilters(){
    $('#datetimeFrom, #datetimeTo').val('');
    $('#eventType').val('Tutti');
    loadData();
  }

  function loadData(queryString = ''){
    var datetimeFrom = $('#datetimeFrom').val();
    var datetimeTo = $('#datetimeTo').val();
    var type = $('#eventType').val();

    const params = new URLSearchParams(queryString);

    if (datetimeFrom){ params.append('datetimeFrom', datetimeFrom); }
    if (datetimeTo){ params.append('datetimeTo', datetimeTo); }
    if (type){ params.append('type', type); }

    queryString = params.toString() ? '?' + params.toString() : '';

    fetch('/data'+queryString)
      .then(response => response.json())
      .then(dataset => {
        if (!dataset || dataset.length==0) {
          showToast('Dati non trovati', 'warning');
          return;
        }

        chartInstances.forEach((instance) => {
          instance.destroy();
        });

        chartInstances = [];

        var tempDataset = dataset.dataset.map(datapoint => {
          return {
            x: new Date(datapoint.datetime).getTime(), 
            y: datapoint.temperatureCelsius
          };
        });
        var dewpointDataset = dataset.dataset.map(datapoint => {
          return {
            x: new Date(datapoint.datetime).getTime(), 
            y: datapoint.dewpointCelsius
          };
        });
        var pressureDataset = dataset.dataset.map(datapoint => {
          return {
            x: new Date(datapoint.datetime).getTime(), 
            y: datapoint.pressureHpa
          };
        });
        var humidityDataset = dataset.dataset.map(datapoint => {
          return {
            x: new Date(datapoint.datetime).getTime(), 
            y: datapoint.humidityPercentage
          };
        });
        var eventsDataset = dataset.events.map(event => {
          return {
            x: new Date(event.datetime).getTime(),
            y: 1,
            title: event.name,
            type: event.type
          };
        });

        chartInstances.push(loadChart('Temperatura', 'Celsius', 
            '#temperatureChartContainer', 'red', tempDataset, eventsDataset));
        chartInstances.push(loadChart('Punto di rugiada', 'Celsius', 
            '#dewpointChartContainer', 'green', dewpointDataset, eventsDataset));
        chartInstances.push(loadChart('Pressione atmosferica', 'hPa', 
            '#pressureChartContainer', 'orange', pressureDataset, eventsDataset));
        chartInstances.push(loadChart('Umidità', '%', 
            '#humidityChartContainer', 'blue', humidityDataset, eventsDataset));
      })
      .catch(error => {
        showToast('Errore recupero dati', 'danger');
      });
  }

  $('#datetimeFrom, #datetimeTo, #eventType')
    .off('change')
    .on('change', function() {
      loadData();
  });

  function loadChart(title, valueTitle, DOMcontainer, color, dataset, events){
    return new Chart(document.querySelector(DOMcontainer+' > canvas'), {
      type: 'line',
      data: {
        datasets: [
          {
            label: valueTitle,
            data: dataset,
            borderColor: color,
            fill: false,
            tension: 0.4,
            pointStyle: false
          },
          {
            label: 'Eventi',
            data: events,
            yAxisID: 'yEvents',
            borderColor: eventsPointColor,
            backgroundColor: eventsPointColor,
            pointStyle: 'circle',
            pointRadius: 5,
            showLine: false
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          decimation: {
            enabled: true
          },
          title: {
            display: true,
            text: title
          },
          tooltip: {
            callbacks: {
              label: function(context){
                if (context.dataset.label=='Eventi'){
                  return context.raw.type;
                }
              },
              title: function(context) {
                const d = new Date(context[0].parsed.x);
                return d.toLocaleDateString('it-IT', {
                  day: '2-digit',
                  month: 'short',
                  hour: '2-digit',
                  minute: '2-digit'
                });
              }
            }
          }
        },
        interaction: {
          intersect: false,
        },
        scales: {
          x: {
            type: 'linear',
            ticks: {
              callback: function(value) {
                const d = new Date(value);
                return d.toLocaleDateString('it-IT', {
                  day: '2-digit',
                  month: 'short',
                  hour: '2-digit',
                  minute: '2-digit'
                });
              }
            }
          },
          y: {
            title: {
              display: true,
              text: valueTitle
            }
          },
          yEvents: {
            type: 'linear',
            display: false,
            min: 0,
            max: 1.1
          }
        }
      },
    });
  }
  
  function saveChartsConfig() {
    const config = [];

    $(".slides .slide").each(function(index) {
      config.push({
        id: $(this).attr("id"),
        order: index,
        width: $(this).outerWidth(),
        height: $(this).outerHeight()
      });
    });

    fetch('/settings/charts', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(config)
    })
      .then(response => response.text())
      .then(data => {
        showToast('Preferenze salvata', 'success');
      })
      .catch(error => {
        showToast('Errore salvataggio preferenze', 'danger');
      });
  }

  fetch('/settings')
    .then(response => response.json())
    .then(settings => {
      if (settings.chartsPreferences && settings.chartsPreferences.eventsPointColor) {
        eventsPointColor = settings.chartsPreferences.eventsPointColor;
      }

      if (settings.charts) {
        settings.charts.forEach((chartSettings) => {
          $('.slides').append(`
            <div 
              id="${chartSettings.id}" 
              class="slide" 
              style="width: ${chartSettings.width}px; height: ${chartSettings.height}px;">
                <canvas></canvas>
            </div>`);
        });
      } else {
        $('.slides').append(`
          <div id="temperatureChartContainer" class="slide">
            <canvas></canvas>
          </div>
          <div id="dewpointChartContainer" class="slide">
            <canvas></canvas>
          </div>
          <div id="pressureChartContainer" class="slide">
            <canvas></canvas>
          </div>
          <div id="humidityChartContainer" class="slide">
            <canvas></canvas>
          </div>`);
      }

      // See https://css-tricks.com/draggable-elements-push-others-way/
      $(".slides").sortable({
        placeholder: 'slide-placeholder',
        revert: 150,
        start: function(e, ui){
          placeholderWidth = ui.item.outerWidth();
          placeholderHeight = ui.item.outerHeight();
          ui.placeholder.width(placeholderWidth);
          ui.placeholder.height(placeholderHeight);
          $(`<div 
              class="slide-placeholder-animator" 
              data-width="${placeholderWidth}" 
              data-height="${placeholderHeight}"></div>`).insertAfter(ui.placeholder);
        },
        stop: function(e, ui) {  
          $(".slide-placeholder-animator").remove();
        },
        update: function(event, ui) {
          saveChartsConfig();
        }
      });

      $(".slide").resizable({
        stop: function(event, ui) {
          saveChartsConfig();
        }
      });

      loadData();
    })
    .catch(error => {
      showToast('Errore recupero preferenze', 'danger');
    });

    function exportCharts(){
      const chartsSelectors = ['temperatureChartContainer', 'dewpointChartContainer',
          'pressureChartContainer', 'humidityChartContainer'];

      var canvas = document.querySelector('#'+chartsSelectors[0]+' > canvas');
      const tempCanvas = document.createElement('canvas');
      
      const tempCtx = tempCanvas.getContext('2d');
      tempCanvas.width = canvas.width*2;
      tempCanvas.height = canvas.height*2;
      tempCtx.fillStyle = "#FFFFFF";
      tempCtx.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

      chartsSelectors.forEach((selector, index) => {
        canvas = document.querySelector('#'+selector+' > canvas');
        
        // index = 0 % 2 = 0 | Math.floor(0 / 2) = 0
        // index = 1 % 2 = 1 | Math.floor(1 / 2) = 0
        // index = 2 % 2 = 0 | Math.floor(2 / 2) = 1
        // index = 3 % 2 = 1 | Math.floor(3 / 2) = 1
        const x = (index % 2) * canvas.width;
        const y = Math.floor(index / 2) * canvas.height;

        tempCtx.drawImage(canvas, x, y, canvas.width, canvas.height);
      });

      const link = document.createElement('a');
      link.href = tempCanvas.toDataURL('image/jpeg', 1);
      link.download = 'export-charts.jpg';
      link.click();
    }
</script>