<style>
  .ltw-table-row{
    border-bottom: 1px solid #ddd; 
    padding: .6rem 1rem; 
    gap: 1rem;
  }

  .ltw-table-header{
    background-color: #f7f7f7; 
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
  }

  .ltw-table-footer{
    padding: .6rem 1rem; 
    background-color: #f7f7f7; 
    border-bottom-left-radius: inherit; 
    border-bottom-right-radius: inherit;
  }

  .ltw-table-row > div[data-ltw-col="type"]{ flex: 120px 0 0; }
  .ltw-table-row > div[data-ltw-col="customerName"]{ flex: 200px 0 0; }
  .ltw-table-row > div[data-ltw-col="ref"]{ flex: auto 1 0; }
  .ltw-table-row > div[data-ltw-col="datetime"]{ flex: 200px 0 0; }
  .ltw-table-row > div[data-ltw-col="action"]{ flex: 100px 0 0; text-align: center; }
</style>

<div class="container p-0">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h4 class="m-0">Eventi</h4>
    </div>
    <div class="flex-grow-1 text-end">
      <!-- Button trigger modal (modal is in dashboard.html for z-index issue) -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createEventModal">
        Crea evento
      </button>
    </div>
  </div>

  <form class="d-flex mt-3 mb-5 gap-4" style="max-width: 80%;">
    <div class="d-flex flex-grow-1 align-items-center gap-3 form-floating">
      <input type="datetime-local" class="form-control flex-grow-1" id="datetimeFrom">
      <label for="datetimeFrom" class="form-label mb-0">Dal</label>
    </div>
    <div class="d-flex flex-grow-1 align-items-center gap-3 form-floating">
      <input type="datetime-local" class="form-control flex-grow-1" id="datetimeTo">
      <label for="datetimeTo" class="form-label mb-0">Al</label>
    </div>
    <div class="d-flex flex-grow-1 align-items-center gap-3 form-floating">
      <select class="form-select" id="eventType" aria-label="Default select example">
        <option value="Tutti">Tutti</option>
        <option value="Sereno">Sereno</option>
        <option value="Nuvoloso">Nuvoloso</option>
        <option value="Pioggia">Pioggia</option>
        <option value="Temporale">Temporale</option>
        <option value="Nebbia">Nebbia</option>
        <option value="Neve">Neve</option>
      </select>
      <label for="eventType">Tipologia</label>
    </div>
    <div class="d-flex flex-grow-1 align-items-center gap-3 form-floating">
      <a href="javascript:clearFilters()" class="text-decoration-none">Cancella</a>
    </div>
  </form>

  <div class="d-flex flex-column rounded-3 bg-white border border-secondary-subtle">
    <div class="d-flex flex-grow-1 ltw-table-header ltw-table-row">
      <div data-ltw-col="type">Tipo</div>
      <div data-ltw-col="customerName">Autore</div>
      <div data-ltw-col="ref">Riferimento</div>
      <div data-ltw-col="datetime">Data</div>
      <div data-ltw-col="action"></div>
    </div>

    <div class="ltw-table-body"></div>

    <div class="d-flex flex-grow-1 align-items-center gap-2 ltw-table-footer">
      <div style="flex: auto 0 0;">
        <nav aria-label="...">
          <ul class="pagination" style="margin: 0;">
            <li class="page-item">
              <a class="page-link"><</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div><!-- end container -->

<script type="text/javascript">
  function clearFilters(){
    $('#datetimeFrom, #datetimeTo').val('');
    $('#eventType').val('Tutti');
    loadEvents();
  }

  function deleteEvent(id){
    $.ajax({
      url: '/events/delete/'+id,
      method: 'POST',
      contentType: 'application/json',
      success: function(response) {
        showToast('Evento cancellato!', 'success');
        $('[data-ltw-event-id="'+id+'"]').remove();
      },
      error: function(error) {
        showToast('Impossibile eliminare l\'evento', 'danger');
      }
    });
  }

  function loadEvents(queryString = ''){
    var datetimeFrom = $('#datetimeFrom').val();
    var datetimeTo = $('#datetimeTo').val();
    var type = $('#eventType').val();

    const params = new URLSearchParams(queryString);

    if (datetimeFrom){ params.append('datetimeFrom', datetimeFrom); }
    if (datetimeTo){ params.append('datetimeTo', datetimeTo); }
    if (type){ params.append('type', type); }

    queryString = params.toString() ? '?' + params.toString() : '';

    fetch('/events'+queryString)
      .then(response => response.json())
      .then(events => {
        if (!events.events.length) {
          showToast('Nessun evento trovato', 'warning');
          return;
        }

        $('.ltw-table-body').empty();

        events.events.forEach((event) => {
          $('.ltw-table-body').append(`
            <div class="d-flex ltw-table-row flex-grow-1" data-ltw-event-id="${event.id}">
              <div data-ltw-col="type">${event.type}</div>
              <div data-ltw-col="customerName">${event.customerName}</div>
              <div data-ltw-col="ref">Nome: ${event.name}<br/>Descrizione: ${event.description}</div>
              <div data-ltw-col="datetime">${formatDateTime(event.datetime)}</div>
              <div data-ltw-col="action">
                <a href="javascript:deleteEvent(${event.id})"><i class="bi bi-trash3"></i></a>
              </div>
            </div>`);
        });

        $('.page-container').animate({ scrollTop: 0 }, 300);
        $('.pagination .page-item:first .page-link')
            .attr('href', 'javascript:loadEvents("?prevCursor='+events.prevCursor+'")');
        $('.pagination .page-item:last .page-link')
            .attr('href', 'javascript:loadEvents("?nextCursor='+events.nextCursor+'")');
      })
      .catch(error => {
        showToast('Errore recupero eventi', 'danger');
      });
  }

  $(document).ready(function() {
    $('#datetimeFrom, #datetimeTo, #eventType').on('change', function() {
      loadEvents();
    });

    $(document)
      .off('click', '#createEventModal .btn-primary')
      .on('click', '#createEventModal .btn-primary', function() {
        const eventData = {
          name: $('#createEventModal #eventName').val(),
          type: $('#createEventModal #eventType').val(),
          datetime: $('#createEventModal #eventDatetime').val(),
          description: $('#createEventModal #eventDescription').val()
        };

        if (eventData.name === "" || eventData.type === "" || eventData.date === "") {
          showToast('Compila i campi obbligatori', 'danger');
          return;
        }

        $.ajax({
          url: '/events',
          method: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(eventData),
          success: function(response) {
            showToast('Evento salvato!', 'success');
            $('#createEventModal').modal('hide');
          },
          error: function(error) {
            showToast('Errore salvataggio', 'danger');
          }
        });
    });

    loadEvents();
  });
</script>